# Environment
.env
.env.*

# Dependencies
node_modules/

# Build output
dist/
build/
coverage/

# Logs
logs
*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Misc
*.suo
*.ntvs*